<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- Mobile responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title || "Velazquez Mission Systems" %></title>

  <!-- Global stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
